.consultation {
    padding-top: 52px;
    padding-bottom: 47px;
    background-image: url("../../img/hang-bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.consultation h2 {
    margin-bottom: 29px;
}

.consultation-caption {
    width: 415px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.25;
    font-weight: 300;
    margin-bottom: 32px;
}

.consultation form {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.consultation input {
    padding: 10px 15px;
    flex-grow: 1;
}

.consultation input::placeholder {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: black;
}

.consultation button {
    padding: 10px 15px;
    min-width: 100px;
    background-color: #DA3414;
    font-size: 18px;
    line-height: calc(20 / 18);
}

.consultation-contact {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
}
